/* important */

:root {
    --main-font-family: 'Open Sans', sans-serif;
    --title-font-family: 'Montserrat', sans-serif;
    --yellow: #FFFFBD;
    --pink: #ffb3b3;
    --green: #CDDBD3;
    --bright-blue: #00C6BF;
    --dark-purple: #302b63;
    --white: #fff;
    --almost-white: #f7f7f7;
    --darker-white: #f1f1f1;
    --light-light-gray: #E8E8E8;
    --light-gray: #ccc;
    --dark-gray: #585858;
    --dark-dark-gray: #383838;
    --almost-black: #282828;
}

* {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10 px */
}




/* css grid */

.l-wrap {
    width: 101.5%;
    min-height: 1px;
    margin: 2rem auto 0 -1rem;
    border: 1px solid transparent;
    overflow: auto;
}

.col-1  { width: 8.33%;  width: calc((100% / 12)*1);  }
.col-2  { width: 16.66%; width: calc((100% / 12)*2);  }
.col-3  { width: 25%;    width: calc((100% / 12)*3);  }
.col-4  { width: 33.33%; width: calc((100% / 12)*4);  }
.col-5  { width: 41.66%; width: calc((100% / 12)*5);  }
.col-6  { width: 50%;    width: calc((100% / 12)*6);  }
.col-7  { width: 58.33%; width: calc((100% / 12)*7);  }
.col-8  { width: 66.66%; width: calc((100% / 12)*8);  }
.col-9  { width: 75%;    width: calc((100% / 12)*0);  }
.col-10 { width: 83.33%; width: calc((100% / 12)*10); }
.col-11 { width: 91.66%; width: calc((100% / 12)*11); }
.col-12 { width: 100%;   width: calc((100% / 12)*12); }

[class*="col-"] {
    min-height: 10px;
    float: left;
    padding: 15px;
    border: 1px solid transparent;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}




/* base rules */

body, .smooth-container {
  scroll-behavior: smooth
  background-color: var(--white);
}

footer, footer p {
  margin-top: 15rem;
  margin-bottom: 4rem;
  font-size: 0.8rem;
  font-family: var(--main-font-family);
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--light-gray);
  letter-spacing: 0.2rem;
}

footer a {
  font-size: 0.8rem;
  color: var(--light-gray);
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

h1 {
  font-size: 5rem;
  font-family: var(--title-font-family);
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--pink);
  letter-spacing: 0.8rem;
  margin: 0;
  padding: 25rem 0 23.5rem 1.5rem;
}

h2 {
  font-size: 2rem;
  font-family: var(--main-font-family);
  font-weight: bold;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: red;
  letter-spacing: 2px;
  margin: 0;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: 6rem;
  font-family: var(--main-font-family);
  font-weight: bold;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-purple);
  letter-spacing: 2px;
  margin: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

h4 {
  font-size: 2rem;
  font-family: var(--main-font-family);
  font-weight: bold;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-purple);
  letter-spacing: 2px;
  margin: 0;
  padding-left: 6rem;
  padding-top: 6rem;
  padding-bottom: 0;
}

p {
  padding: 0 6rem 0 6rem;
  font-size: 1.5rem;
  font-family: var(--main-font-family);
  font-weight: normal;
  font-style: normal;
  text-align: justify;
  text-transform: none;
  text-decoration: none;
  color: var(--almost-black);
}

p span {
  font-size: inherit;
}



/* layout rules */

#menu {
  font-family: var(--main-font-family);
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: blue;
  letter-spacing: 1px;
  background-color: var(--white);
  border: 1px solid transparent;
  box-shadow: 0px 2px 10px var(--dark-gray);
  margin: -8px auto 0px -8px;
  padding: 0;
  position: fixed;
}

#menu ul {
  text-align: right;
  margin: 0;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

#menu li {
  display: inline-block;
  font-size: 2rem;
  text-align: right;
  text-transform: uppercase;
  list-style: none;
  padding-left: 20px;
}

#menu a {
  color: var(--pink);
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

#menu a:hover { /* state rule */
  color: var(--dark-purple);
}

#home {
  /* gradient from https://uigradients.com/#Lawrencium */
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 8rem 0 0 0;
  text-align: center;
}

#home img {
  width: 5rem;
  margin: 5rem;
}





/* modules rules */

.menu-a {
  text-align: right;
}

.adjust-title {
  margin-right: -3rem;
  font-size: 5rem;
}

.top {
  margin-top: 25rem;
  text-align: center;
}

.top img {
  width: 6rem;
}

.arr-btn {
  text-align: center;
}

.arr-btn img {
  display: inline-block;
  width: 10rem;
  margin-top: -7rem;
  padding: 2rem;
  background-color: var(--white);
  border: 1px solid transparent;
  border-radius: 10rem;
  box-shadow: 0px 2px 10px var(--dark-gray);
}

.col-8 ul {
  margin-left: 5rem;
  font-family: var(--main-font-family);
  font-weight: normal;
  font-style: normal;
  font-size: 2.5rem;
  text-align: left;
  text-transform: none;
  text-decoration: none;
  color: var(--almost-black);
}

.pink {
  color: var(--pink);
}

.highlight {
  background-color: var(--yellow);
}
